
#grid {
    display: flex;
    flex-direction: column;
    margin: 36px auto;
    width: 700px;
    height: 700px;
    
}

.row {
    display: flex;
    flex-grow: 1;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
}